.container {
  background: aliceblue;
  padding: 20px;
  box-sizing: border-box;
  max-width: 1270px;
  margin: auto;
}

/* @media (max-width: 800px) {
  .search {
    width: 100%;
  }
  .products {
    justify-content: center;
  }
} */
