.card {
  max-width: 400px;
  height: 400px;
  border: 1px solid black;
  box-sizing: border-box;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.14);
  display: flex;
  align-content: flex-start;
  background: #f7f7f7;
}

.card__info {
  width: 100%;
  padding: 10px;
  display: flex;
  box-sizing: inherit;
}

.card__info__img {
  width: 50%;
  margin: auto;
}

.card__info__img .img {
  max-width: 90%;
}

.card__info__description {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: flex-start;
  width: 50%;
}

@media (max-width: 800px) {
  .card {
    height: unset;
  }
}
