.drawer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #f7f7f7;
  text-align: center;
}

.drawer__header {
  display: flex;
  justify-content: space-around;
}

.drawer__header span {
  margin: auto 0;
  cursor: pointer;
}

.drawer__info {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: inherit;
}

.drawer__info__img {
  margin: auto;
}

.drawer__info__description {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  width: 70%;
  margin: 5% auto;
}
