.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.menu__option--width {
  width: 20%;
}

@media (max-width: 450px) {
  .menu {
    background: #eff8ff;
    justify-content: center;
    position: sticky;
    top: 0;
  }
  .menu__option--width {
    margin: 1% auto;
    width: 100%;
  }
}
