.menu {
  margin: 1% auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.menu__option--width {
  width: 20%;
}

@media (max-width: 450px) {
  .menu {
    justify-content: center;
  }
  .menu__option--width {
    margin: 1% auto;
    width: 100%;
  }
}
