.search__button {
  border: 1px solid lightgray;
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 46px;
  box-sizing: content-box;
  background-color: white;
}

.search__button input {
  width: 100%;
  outline: none;
  background-color: white;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  box-sizing: border-box;
  height: 2rem;
  padding: 0.5rem;
  vertical-align: middle;
  -webkit-appearance: none;
  border: none;
}

.search__button__icon_button {
  background: none;
  border: none;
  cursor: pointer;
  height: 46px;
  min-height: 30px;
  width: 32px;
  min-width: 30px;
  line-height: 30px;
  text-align: center;
}

.search__button__icon_button--search_icon {
  background: rgba(0, 0, 0, 0.15);
  color: #6e7075;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  font-size: 16px;
}

.search__button__icon_button--search_icon:hover {
  color: rgba(0, 0, 0, 1);
  background-color: whitesmoke;
}

.search__button__icon_button--cancel_icon {
  background-color: white;
  color: #6e7075;
  font-size: 16px;
}
.search__button__icon_button--cancel_icon:hover {
  color: rgba(0, 0, 0, 1);
}
