.table__body__row {
  display: table-row;
}

.table__body__row:nth-child(odd) {
  background-color: #4adede;
  color: #fff;
  font-weight: bold;
}

.table__body__row__cell {
  display: table-cell;
  width: 10%;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
}
